
html {
    font-size: 62.5%;
    /* 10px browser default */
}

.film-info {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.film-detail {
    width: 50%;
    height: 100%;
    background: rgb(24, 24, 24);
    background: linear-gradient(90deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0)100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.film-nom {
    font-size: 5rem;
    font-weight: 500;
}

.genre {
    opacity: 0.6;
    font-size: 1.6rem;
}

.note {
    opacity: 0.6;
    margin: 2rem 0;
    font-size: 1.6rem;

}


.description {
    width: 70%;
    line-height: 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;

}


.casting {
    font-size: 1.6rem;

}
.casting span {
    opacity: 0.6;
}

.resultats, .trailer-container,
.recommendations {
    color: #fff;
    padding: 5vw 5vw 0;
}


.heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}


iframe {
    width: 40rem;
    height: 20rem;
}


.resultats-container,
.recommendations-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.film p {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}

.film:hover p {
    opacity: 1;
}



/* Media Queries */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}



/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}