
html {
    font-size: 62.5%;
    /* 10px browser default */
}


.login-form {
    width: 30rem;
    margin: 15rem auto;
    font-family: Tahoma, Geneva, sans-serif;
    -webkit-box-shadow: 0 0 1.1rem 0.6rem #000000;
    box-shadow: 0 0 1.1rem 0.6rem #000000;
}

.login-form h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.4rem;
    padding: 2rem 0 2rem 0;
}

.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {

    width: 100%;
    padding: 1.5rem;
    border: 0.1rem solid #dddddd;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 1.5rem;
    background-color: red;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}