/* Body
-------------------------------- */



html { font-size: 10px; }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    background: #181818;
    font-family: 'roboto', sans-serif;
}

/* Navbar
-------------------------------- */

.navbar {
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    z-index: 9;
    background: #000;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
}



.logo {
    height: 6rem;
}


.join-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
}

.join-msg {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
}


.btn {
    border: 0.1rem solid #fff;
    border-radius: 0.2rem;
    background: none;
    color: #fff;
    height: 3.5rem;
    padding: 0 1rem;
    margin-left: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}


.join-btn {
    background: red;
    border-color: red;
}

/* Selection langue  */

.lang-menu {
    width: 150px;
    /* position: relative; */
}

.click {
    border: 0.1rem solid #fff;
    border-radius: 0.2rem;
    background: none;
    color: #fff;
    height: 3.5rem;
    padding: 0 1rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background: red;
    border-color: red;
}


.links {
    border: 0.1rem solid #fff;
    border-radius: 0.2rem;
    background: none;
    color: #fff;
    height: 3.5rem;
    padding: 0 1rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background: red;
    border-color: #fff;
}

.list-lang {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}


.newlist-lang {
    transform: scaleY(1);
}

.links {
    background-color: black;
    color: #fff;
}

.links:hover {
    background-color: red;
    transform: scale(1.1);
}



/* Barre de recherche */

.search-container {
    padding-right: 4rem;
}

.search-text {
    background: #ccc;
    padding: 0.6rem;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    border: none;
}


.search-container button {
    float: right;
    padding: 0.6rem 1rem;
    margin-top: 0.5rem;
    margin-right: 1.6rem;
    background: #ddd;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
}


.search-container button:hover {
    background: #ccc;
}

/* Header
-------------------------------- */

.main {
    position: relative;
    margin-top: 6rem;
    width: 100%;
    padding: 4rem 2.5vw;
    color: #fff;
}

.heading {
    text-transform: capitalize;
    font-weight: 900;
    font-size: 5rem;

}

.info {
    width: 50%;
    font-size: 2rem;
    margin-top: 1rem;

}


.film-liste {
    width: 100%;
    height: 25rem;
    margin-top: 4rem;
    position: relative;
}


.film-categorie {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-transform: capitalize;

}

.film-container {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    /* Ces propriétés servent a avoir un rendu slider */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.film-categorie::-webkit-scrollbar {
    display: none;

}

.film-container {
    scrollbar-width: none;
}



.film {
    flex: 0 0 auto;
    width: 24%;
    height: 20rem;
    text-align: center;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;

}

.film img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
}

.film p {
    text-transform: capitalize;
    height: 2rem;
    font-size: 1.6rem;
    overflow: hidden;
}


.fas {
    color: red;
}

.pre-btn,
.nxt-btn {
    position: absolute;
    height: 20rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline: none;
    opacity: 0;
}

.pre-btn {
    left: -2.5vw;
}

.nxt-btn {
    right: -2.5vw;
}

.pre-btn .fas,
.nxt-btn .fas {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.pre-btn:hover,
.nxt-btn:hover {
    opacity: 1;
}


.back-btn {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    background: #000;
    border: none;
    outline: none;
    opacity: 1;
    cursor: pointer;
}

.back-btn .fas {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.back-btn {
    left: 1vw;
    top: 1.5vw;
}